@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
        @apply bg-transparent w-1;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-black/50;
    }

    html {
        font-family: 'Poppins', 'Roboto', sans-serif;
        -webkit-tap-highlight-color: transparent;
    }

    input {
        @apply outline-none;
    }

    [contenteditable][placeholder]:empty:before {
        content: attr(placeholder);
        position: absolute;
        color: gray;
        background-color: transparent;
      }
}

@layer components {
    .action-post {
        @apply w-full flex justify-center items-center gap-2 text-base font-semibold transition-all duration-300 hover:bg-black/10 dark:hover:bg-white/10 py-1 rounded-sm;
    }

    .hover-bg {
        @apply transition-all duration-300 hover:bg-black/10
    }

    .triangle {
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

    .button {
        @apply mx-auto w-auto px-3 py-1 text-white text-xl font-semibold bg-black/50 hover:bg-black/75 transition-all duration-150 rounded-sm text-center;
    }

    .remove-scrollbar::-webkit-scrollbar {
        @apply hidden;
    }

    .rounded-scrollbar::-webkit-scrollbar {
        @apply overflow-hidden rounded-lg;
    }

    .dark-hover {
        @apply bg-white/10
    }
}